.ipynb_checkpoints
.venv
/data

/Poc - SVM/Casia/*.jpg
/Poc - SVM/Photos/*.jpg

/Poc - CNN/Casia/*.jpg
/Poc - CNN/Photos/*.jpg

/Poc - VGG/Casia/*.jpg
/Poc - VGG/Photos/*.jpg

.tmp*

*.h5 
*.csv
*.npy
*.txt
