.ipynb_checkpoints
.venv
/data

/Poc - SVM/Casia/*.jpg
/Poc - SVM/Photos/*.jpg

/Poc - CNN/Casia/*.jpg
/Poc - CNN/Photos/*.jpg

/Poc - CNN/Casia/remote/*
/Poc - CNN/Photos/remote/*

.tmp*

*.h5 
*.csv
*.npy
*.txt
