.ipynb_checkpoints
.venv
/data

/Poc - SVM/Casia/results/*.png
/Poc - SVM/Photos/results/*.png

/Poc - CNN/Casia/results/*.png
/Poc - CNN/Photos/results/*.png

/Poc - VGG/Casia/results/*.png
/Poc - VGG/Photos/results/*.png

.tmp*

*.h5 
*.csv
*.npy
*.txt
*.7z
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.lof
*.lot

*.sty
*.bst
*.cls
*.lol